body{
    transition: background-color 0.5s, color 0.5s;
}
body.dark-mode{
    background-color: rgb(63, 63, 63);
    color: white;
    .bg-body-tertiary{
        --bs-bg-opacity: 0;
    }
    h5{
        color: white;
    }
    .img-header{
        display: none;
        color: black;
    }
    #intro-titre{
        margin-top: 50%;
    }
}
main{
    font-family: 'Roboto' !important;
}
h1,h2 {
    font-family: Arial, Helvetica, sans-serif; 
}
/* -------CSS navbar--------- */
.logo{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 7%;
    height: 7%;
    background-color: white;
    border-radius: 50%;
}
/* navbar */
.container-fluid{
    background-color: #007ACC;
}
/* Menu burger */
.offcanvas-header,.offcanvas-body{
    background-color: #007ACC;
}
.offcanvas-title{
    font-size: 50px;
}
.nav-link{
    margin-bottom: 5%;
}
.nav-item{
    font-size: 30px;
}

a:hover{
    background-color: #FF851B;
    border-radius: 1.3em;
}
/* ----------Fin CSS navbar---------- */

/* Début de la fin du header */

header{
    margin-bottom: -5%;
}

.img-header{
    position: relative;
    width: 100%;
    height: 700px;
}
.accueil{
    position: absolute;
    top: 53%;
    left: 45%;
    font-size: 50px;
    font-weight: bold;
}
/* Fin du header */

.h3-intro{
    text-align: center;
    padding-bottom: 3%;
    color: #FF851B;
    font-weight: 700;
    font-size: 50px;
    margin-top: 6%;
}

.intro{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
/* -------------articles mis en avant */
.article,.article2{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #28A745;
}
.article2{
    flex-direction: column;
    width: 25%;
    margin: auto;
    margin-top: 5%;
}

.download-btn{
    display: inline-block;
    color: white;
    background-color: rgb(189, 189, 189);
    text-align: center;
    margin: auto;
    border: 2px solid black;
    text-decoration: none;
    width: 80%;
}
.img-article,.img-article2{
    margin: 5%;
    flex: 1;
    border: 1px solid;
    width: 10%;
}
.img-article2{
    width: 90%;
}

.guide{
    display: flex;
    flex-direction: row;
}

.text-artcile{
    width: 50%;
    padding-right: 2%;
}
.text-artcile2{
    width: 80%;
    margin: auto;
}

h4,p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h4{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    text-decoration: underline;
}

h4 + p{
    text-align: justify;
}
.suite{
    color: white;
    float: right;
    padding-bottom: 3%;
}

/* --------------------fin articles mis en avant, */
/* début de la partie section */
.section{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.div-section{
    width: 80%;
    height: auto;
}

.a-section{
    color:black;
    text-align: center;
}
.img-section{
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 20px rgb(94, 94, 94);
}
/* fin partie section */
/* Début partie contact avec formulaire */

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: auto;
    text-align: center;
}
fieldset{
    background-color: #28A745;
    border: 2px solid black !important;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
    padding-bottom: 5% !important;
}
label{
    width: 80%;
    text-align: left;
    margin-top: 2%;
}
input,textarea{
    width: 80%;
}
input[type="submit"]{
    margin-top: 5%;
    margin-left: 20%;
    background-color: #28A745;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}
/* fin contact */
footer{
    display: flex;
    width: 100%;
    margin-top: 10%;
    padding: 5%;
    font-size: 20px;
    background-color: #007ACC;
}
.footer{
    width: 60%;
    text-align: end;
}
footer a{
    text-decoration: none;
    color: black;
    margin-right: 5%;
}
/* Page type de handicap */
#dark-mode{
    position: fixed;
    top: 22vh;
    right: 2vh;
    border-radius: 50%;
}
.titre-page{
    text-align: center;
    padding-bottom: 3%;
    color: #FF851B;
    font-weight: 700;
    font-size: 50px;
    margin-top: 13%;
    margin-bottom: 10%;
}
.p-type{
    font-size: 20px;
}
/* barre de recherche */
.search{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
.search button{
    width: 40%;
    background-color: #28A745;
    border-radius: 10px;
}
.search input{
    width: 60%;
    border-radius: 10px;
    padding: 1%;
}
/* carte témoignage */
.container-carte{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.carte{
    flex-direction: column;
    margin: 1%;
    margin-top: 10%;
    width: 20%;
    max-height: 500px;
    text-align: center;
    overflow: hidden; /* pour masquer le contenu qui déborde*/
    overflow-y: auto;
    scrollbar-width: none;
    transition: transform 0.3s;
    border-radius: 20px;
    box-shadow: 0 4px 8px black
}
.carte:hover{
    transform: translateY(-8%);
}
.carte img{
    width: 70%;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.p-carte{
    padding: 10%;
}
/* a propos */
.p-apropos{
    width: 60%;
    margin: auto;
    text-align: center;
}
.apropos{
    width: 60%;
    margin: auto;
    line-height: 2;
    font-size: 20px;
}
.img-propos{
    margin-top: 10%;
}

.iframe{
    width: 60%;
    margin: auto;
    margin-top: 10%;
}

/* ---------------------------------Responsive mobile--------------------------------- */

@media (max-width:500px){
    /* navbar */
    h1{
        font-size: 17px !important;
    }
    .container-fluid{
        height: 80px;
    }
    .logo{
        width: 18%;
        height: 80%;
    }
    .img-header{
        height: 400px;
    }
    .accueil{
        font-size: 25px;
        top: 26%;
        left: 42%;
    }
    .h3-intro{
        font-size: 30px;
        margin-bottom: 10%;
    }
    /* Début article */
    .article,.article2{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .guide{
        flex-direction: column;
    }
    .img-article{
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }
    .text-artcile{
        width: 80%;
        margin: auto;
    }
    h4 + p{
        text-align:start;
    }
    .suite{
        margin-bottom: 4%;
    }
    /* Début section explorez le site */
    .section{
        flex-direction: column;
        margin: auto;
    }
    .div-section{
        margin: auto;
        margin-bottom: 20%;
    }
    /* formulaire */
    form{
        width: 80%;
    }

    footer{
        font-size: 10px;
    }
    footer p{
        width: 50%;
    }
    footer a{
        font-size: 15px;
        width: 60%;
        margin: auto;
    }
    /* Page type de handicap */
    
    #dark-mode{
        top: 14vh;
    }
    #dark-mode img{
        width: 24px;
        height: 24px;
    }
    .titre-page{
        font-size: 30px;
        margin-top: 35%;
    }
    .p-type{
        font-size: 16px;
    }
    /* carte témoignage */
    .container-carte{
        flex-direction: column;
    }
    .carte{
        width: 80%;
        margin: auto;
        margin-top: 10%;
        max-height: 500px;
    }
    .apropos{
        font-size: 15px;
    }
    .img-propos{
        width: 100%;
    }
    .iframe{
        width: 90%;
    }
    iframe{
        width: 100%;
        height: 20em;
    }
}