<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types de handicap</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/roboto-font@0.1.0/css/fonts.min.css">
</head>
<body>
    <header>
            <!-- Début navbar burger (bootstrap) -->
            <nav class="navbar bg-body-tertiary fixed-top">
                <div class="container-fluid">
                    <img class="logo" src="../assets/img/logo.svg" alt="logo du site">
                    <h1>Sensibilisation au Handicap</h1>
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                          <a class="nav-link active"  href="../index.html">Accueil</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="./typeshandi.html">Types de handicap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./temoignage.html">Temoignages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./ressources.html">Ressources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../index.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./apropos.html">A propos</a>
                        </li>                        
                      </ul>
                      </form>
                    </div>
                  </div>
                </div>
            </nav>
            <!-- Fin navbar burger -->
        <h2 class="titre-page">Types de handicap</h2>
        <button id="dark-mode"><img src="../assets/img/icons8-night-mode-48.png" alt="dark mode"></button>
        <script src="../assets/js/script.js"></script>
    </header>
    <!-- Fin du header -->
     <main>
      <!-- Début des different article sur le handicap -->
      <section>
        <div class="article">
          <img class="img-article" src="../assets/img/DALL·E 2024-10-27 14.33.53 - A photo of a person with a physical disability, showing them confidently navigating daily life. The person is using a wheelchair in an outdoor, urban .webp" alt="homme atteint d'un handicap moteur">
          <div class="text-artcile">
              <h4 class="h4">Handicap moteur</h4>
              <p class="p-type">Un handicap moteur (ou déficience motrice) recouvre l’ensemble des troubles (troubles de la dextérité, paralysie, …) pouvant entraîner une atteinte partielle ou totale de la motricité, notamment des membres supérieurs et/ou inférieurs (difficultés pour se déplacer, conserver ou changer une position, prendre et manipuler, effectuer certains gestes).</p>
              <a class="suite" href="" target="_blank">En savoir plus</a>
          </div>
        </div>

        <div class="article">
          <img class="img-article" src="../assets/img/illumination-5173595_640.jpg" alt=" illustration d'un homme atteint d'un handicap sensoriel">
          <div class="text-artcile">
              <h4 class="h4">Handicap sensoriel</h4>
              <p class="p-type">La déficience visuelle et la déficience auditive sont les deux formes de handicap sensoriel. <br> Les personnes en situation de handicap visuel sont atteintes de cécité (personnes aveugles), ou de malvoyance. Les causes peuvent être des maladies comme la cataracte (opacification d’une lentille interne) ou le glaucome (touchant le nerf optique), ou héréditaires. <br>Le handicap auditif atteint des personnes atteintes de surdité, qui est un état pathologique caractérisé par une perte partielle ou totale du sens de l’ouïe. Ce handicap peut être présent dès la naissance ou acquis durant la vie de la personne.</p>
              <a class="suite" href="" target="_blank">En savoir plus</a>
          </div>
        </div>

        <div class="article">
          <img class="img-article" src="../assets/img/mood-7529903_640.png" alt="illustration d'une personne atteinte d'un handicap mental">
          <div class="text-artcile">
              <h4 class="h4">Handicap mental (ou déficience intellectuelle)</h4>
              <p class="p-type">L’Organisation Mondiale de la Santé (OMS) définit le handicap mental, ou déficience intellectuelle, comme « un arrêt du développement mental ou un développement mental incomplet, caractérisé par une insuffisance des facultés et du niveau global d’intelligence, notamment au niveau des fonctions cognitives, du langage, de la motricité et des performances sociales ».</p>
              <a class="suite" href="" target="_blank">En savoir plus</a>
          </div>
        </div>

        <div class="article">
          <img class="img-article" src="../assets/img/head-4983119_640.jpg">
          <div class="text-artcile">
              <h4 class="h4">Handicap psychique</h4>
              <p class="p-type">Le handicap psychique regroupe un ensemble de pathologies touchant le psychisme. Les psychoses, la dépression, les névroses et les dépendances sont qualifiées de handicaps psychiques. Celui-ci entraîne une dépendance envers autrui, avec une perte d’autonomie, des problèmes relationnels, des troubles de l’attention, des obsessions et des compulsions. Le handicap psychique est généralement chronique et empêche la personne malade de mener une vie ordinaire, sans aménagement particulier.</p>
              <a class="suite" href="" target="_blank">En savoir plus</a>
          </div>
        </div>

        <div class="article">
          <img class="img-article" src="../assets/img/mental-health-3337026_640.jpg">
          <div class="text-artcile">
              <h4 class="h4">Handicap cognitif</h4>
              <p class="p-type">Les fonctions cognitives représentent tous les processus cérébraux par lesquels l’être humain acquiert l’information, la traite, la manipule, la communique, et s’en sert pour agir. Elles incluent la perception, l’attention, la mémoire, les fonctions exécutives, le langage oral, le langage écrit, le calcul, la représentation dans l’espace et le temps, le geste, le raisonnement, les émotions, la capacité à se connaître, à interagir avec autrui.</p>
              <a class="suite" href="" target="_blank">En savoir plus</a>
      </section>
     </main>

    <footer>
        <p>&copy; 2024 Sensibilisation au Handicap. Tous droits réservés.</p>
        <nav class="footer">
            <a href="./apropos.html">A propos</a>
            <a href="https://workspace.google.com/intl/fr/gmail/"target="_blank"><img src="../assets/img/icons8-courrier-24.png" alt="e-mail"></a>
            <a href="https://www.facebook.com/?locale=fr_FR"target="_blank"><img src="../assets/img/icons8-facebook-24.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"target="_blank"><img src="../assets/img/icons8-instagram-24.png" alt="instagram"></a>
        </nav>
    </footer>




    <!-- script du burger menu -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>